<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" >
  <parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
  <parameter name="username" value="demosalesManager"></parameter>
  <parameter name="password" value="crmsfa"></parameter>
  <test thread-count="5" name="chrome">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="week7.day1.CreateLead"/>
      <!-- <class name="week6.day2.EditLead"/> -->
    </classes>
  </test> <!-- Test -->
  <parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
  <parameter name="username" value="demosalesManager"></parameter>
  <parameter name="password" value="crmsfa"></parameter>
  <test thread-count="5" name="edge">
   <parameter name="browser" value="Edge"></parameter>
    <classes>
      <class name="week7.day1.CreateLead"/>
      <!-- <class name="week6.day2.EditLead"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
